.idea/
*.iml
venv
__pycache__/
.DS_Store
.coverage
build
dist
*.egg-info/
src/teach/analysis/.ipynb_checkpoints/
pip-wheel-metadata/
*.pyc

#Added by user (Not present in original repo) 
data
my_notes/notes
my_notes/Teach_sample_inf_op
launch.json
generations
testttttt.py